body {
    font-family: 'Trebuchet MS', sans-serif;
}
h1 {
    width: 600px;
    margin-top: 5px;
    margin-bottom: 0px;

    font-size: 36pt;
    font-weight: lighter;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    letter-spacing: -1px;
    text-align: center;

    color: #999;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#errors {
    width: 900px;
    height: 50px;
}

#errors img {
    float: left;
    margin-left: 10px;
}

#errors p {
    margin-top: 10px;
    margin-left: 15px;
    float: left;
    color: #bb3936;
    font-size: 12pt;
}
canvas {
    clear: both;
}
